body {
  color: blue;
  background-color: #e6e6e6 !important;
}


li:hover {
  color: #0000ff ;
}

div:linkedin: hover {
  color: red;
}

form.fixed {
  position: fixed;
  bottom:0;
  right:0;
  width:300px;
  border: 3px solid red;
}

